<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- cssList %>
</head>
<body>
    <div id="header">
        <%= header %>
    </div>

    <div id="content">
        <%= content %>
        <div class="leftContent">
            <%= leftContent　%>
        </div>
        <div class="mainContent">
            <%= mainContent %>
        </div>
        <div class="rightContent">
            <%= rightContent %>
        </div>
    </div>

    <div id="footer">
        <%= footer %>
    </div>

    <%- scriptList %>
</body>
</html>